<page-container [titulo]="titulo">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-fluid">
      <p-card header="Simple Card">
        <div>Cartão de informações!</div>
      </p-card>
    </div>
    <div class="ui-g-12 ui-md-4 ui-fluid">
      <p-card header="Simple Card">
        <div>Cartão de informações!</div>
      </p-card>
    </div>
    <div class="ui-g-12 ui-md-4 ui-fluid">
      <p-card header="Simple Card">
        <div>Cartão de informações!</div>
      </p-card>
    </div>

  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Gráfico 1 </label>
      <p-chart type="radar" [data]="data"></p-chart>
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Gráfico 2 </label>
      <p-chart type="radar" [data]="data"></p-chart>
    </div>
  </div>



</page-container>